{% extends "index.html" %}
{% block title %}
    Buy Stocks
{% endblock %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form name="form" method="POST" action="{% url 'Buy_stocks' %}">
        {% csrf_token %}
        <div style="margin-bottom: 10px;">
            <label for="id" style="display: inline-block; width: 100px; text-align: right;">ID:</label>
            <input type="text" id= "id" name= "id" style="width: 200px;" required><!-- required enforces that it must be filled -->
        </div>
        <div style="margin-bottom: 10px;">
            {% csrf_token %}
            <label for="Company" style="display: inline-block; width: 100px; text-align: right;">Company:</label>
            <input type="text" id="Company" name="Company" style="width: 200px;" required> <!-- required enforces that it must be filled -->
        </div>
        <div style="margin-bottom: 10px;">
            {% csrf_token %}
            <label for="Quantity" style="display: inline-block; width: 100px; text-align: right;">Quantity:</label>
            <input type="number" id="Quantity" name="Quantity" style="width: 200px;" required> <!-- required enforces that it must be filled -->
        </div>
        <div>
            <button type="submit" style="padding: 8px 15px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Submit</button>
        </div>
    </form>
</body>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

    <h1>Last 10 Stocks Buy</h1>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Investor ID</th>
                <th>Symbol</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for row in sql_res5D %}
                <tr>
                    <td>{{ row.tDate }}</td>
                    <td>{{ row.ID }}</td>
                    <td>{{ row.Symbol }}</td>
                    <td>{{ row.BQuantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
</html>